@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: 'radial-gradient(circle, #1F2125 30%, #141518 100%)';
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    /* Slightly increased width for better visibility */
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
    /* Rounded track */
}

::-webkit-scrollbar-thumb {
    background-color: #FFFC99;
    /* Changed to updated primary-yellow */
    border-radius: 4px;
    /* Rounded thumb */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #FFFC99 transparent;
    /* Changed to updated primary-yellow */
}

/* Additional styles for Firefox to make it more rounded */
* {
    scrollbar-width: thin;
    scrollbar-color: #FFFC99 transparent;
    /* Changed to updated primary-yellow */
}

* {
    scrollbar-width: thin;
    scrollbar-color: white transparent;
    /* Changed to updated primary-yellow */
}

*::-moz-scrollbar {
    width: 8px;
}

*::-moz-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

*::-moz-scrollbar-thumb {
    background-color: whit;
    /* Changed to updated primary-yellow */
    border-radius: 4px;
}

::selection {
    background-color: #FFFC99;
    /* Added updated primary-yellow background for highlighted text */
    color: #1F2125;
    /* Added dark color for highlighted text */
}